= semantic_form_for @document do |f|
  = f.inputs do
    =f.input :name
    =f.input :asset, :as=>:file
    =f.input :body, :input_html=>{:class=>'tinymce'}

  = f.actions do
    =f.action :submit, :as=>:button
    =f.action :cancel

=tinymce(:image_advtab=>true)